h1{

    color: cornsilk;
}

header {

    background-color:#14279B ;
}

nav {
    background-color: #3D56B2;
}

section{

    background-color:#5C7AEA ;
    grid-column: 1/4;

}

aside {

    background-color:#E6E6E6 ;
    grid-column: 4/5;
}

footer

{
    background-color: #3D56B2;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}